* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #c2e59c;
  background: -webkit-linear-gradient(to bottom right, #64b3f4, #c2e59c);
  background: linear-gradient(to bottom right, #64b3f4, #c2e59c);
  font-family: "Press Start 2P", cursive;
}

main {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  max-width: 460px;
  padding: 15px;
}

h1.appname {
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #831aec;
  text-shadow: 0px -5px 0px rgb(255, 255, 255), 5px -0px 0px rgb(255, 255, 255),
    -5px 0px 0px rgb(255, 255, 255), 0px 5px 0px rgb(255, 255, 255);
}

.title {
  font-size: 21px;
  line-height: 26px;
  color: #831aec;
  margin: 0;
}

main > .title {
  margin-bottom: 30px;
  text-shadow: 0px -3px 0px rgb(255, 255, 255), 3px -0px 0px rgb(255, 255, 255),
    -3px 0px 0px rgb(255, 255, 255), 0px 3px 0px rgb(255, 255, 255);
}

.result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-sizing: border-box;
}

#codiname {
  border: none;
  padding: 14px 10px;
  font-size: 19px;
  line-height: 26px;
  color: #454545;
  border-radius: 6px;
  background-color: #f3f3f3;
  text-transform: capitalize;
  width: calc(100% - 84px);
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.charNumber {
  position: relative;
  display: flex;
  width: 84px;
  justify-content: space-between;
  align-items: stretch;
}

.charNumber #charNumber {
  flex: 1;
  display: flex;
  align-self: center;
  padding: 6px 10px;
  border-left: 2px solid #dcdcdc;
  font-family: "Press Start 2P", cursive;
  width: 60px;
  background-color: #f3f3f3;
  font-size: 23px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #444;
}

.charNumber--control {
  display: flex;
  flex-direction: column;
  flex: 1;
  user-select: none;
}

.charNumber .charUp,
.charNumber .charDown {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.charNumber .charUp.blocked,
.charNumber .charDown.blocked {
  background-color: #ccc;
}
.charNumber .charUp.blocked:hover,
.charNumber .charDown.blocked:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.charNumber .charUp {
  border-radius: 0 6px 0 0;
  padding-top: 3px;
}
.charNumber .charDown {
  border-radius: 0 0 6px 0;
  padding-bottom: 3px;
}

.charNumber .charUp:hover,
.charNumber .charDown:hover {
  background-color: #831aec;
}

.charNumber .charUp::before,
.charNumber .charDown::before {
  position: absolute;
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.charNumber .charUp:hover::before,
.charNumber .charDown:hover::before {
  border-color: #fff;
}
.charNumber span.blocked::before,
.charNumber span.blocked:hover::before {
  border-color: #aaa;
}

.charNumber .charUp::before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.charNumber .charDown::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-width: 2px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  padding: 18px 0;
  margin: 18px 0;
  height: 295px;
  overflow: hidden;
}
#history .title {
  margin-bottom: 8px;
  text-shadow: 0px -3px 0px rgb(255, 255, 255), 3px -0px 0px rgb(255, 255, 255),
    -3px 0px 0px rgb(255, 255, 255), 0px 3px 0px rgb(255, 255, 255);
}

#history p {
  margin: 8px 0;
  color: #454545;
  font-size: 18px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}

.generator {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.generator > input {
  font-family: "Press Start 2P", cursive;
  border: none;
  padding: 16px 12px;
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #444;
  box-sizing: border-box;
}

.generator button {
  font-family: "Press Start 2P", cursive;
  margin-top: 8px;
  border: none;
  padding: 16px 12px;
  background-color: #831aec;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

footer {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #666;
}

footer a {
  text-decoration: none;
}
